Repository VenusProtocol/token-bridge, pull requests merged in 2024-09, with the labels that each got.

#36 [VEN-2741][VEN-2742]: XVS & XVS bridge deployment on zksync
  .env.example
  .github/workflows/ci.yaml
  deploy/002-xvs-bridge-remote.ts
  deployments/zksyncmainnet.json
  deployments/zksyncmainnet/.chainId
  deployments/zksyncmainnet/DefaultProxyAdmin.json
  deployments/zksyncmainnet/XVS.json
  deployments/zksyncmainnet/XVSBridgeAdmin.json
  deployments/zksyncmainnet/XVSBridgeAdmin_Implementation.json
  deployments/zksyncmainnet/XVSBridgeAdmin_Proxy.json
  deployments/zksyncmainnet/XVSProxyOFTDest.json
  deployments/zksyncmainnet/solcInputs/649192ce8cb79d9215830c33733a9fc4.json
  deployments/zksyncmainnet/solcInputs/d817251a66d7498780a3a7892649b9f8.json
  deployments/zksyncmainnet_addresses.json
  hardhat.config.zksync.ts
  helpers/deploymentConfig.ts
Labels: zkSync

#34 [VEN-2724][VEN-2725]: Deployments of XVS and Bridge on OpSepolia
  .env.example
  .github/workflows/ci.yaml
  deployments/opmainnet.json
  deployments/opmainnet_addresses.json
  deployments/opsepolia.json
  deployments/opsepolia/.chainId
  deployments/opsepolia/DefaultProxyAdmin.json
  deployments/opsepolia/XVS.json
  deployments/opsepolia/XVSBridgeAdmin.json
  deployments/opsepolia/XVSBridgeAdmin_Implementation.json
  deployments/opsepolia/XVSBridgeAdmin_Proxy.json
  deployments/opsepolia/XVSProxyOFTDest.json
  deployments/opsepolia/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  deployments/opsepolia/solcInputs/add176c0d8e5d7028a4127767eceb0a9.json
  deployments/opsepolia_addresses.json
  hardhat.config.ts
  helpers/deploymentConfig.ts
  yarn.lock
Labels: OP sepolia

#40 [VEN-2813]: Deployment files for the XVS, XVS-bridge on OP mainnet
  deployments/opmainnet.json
  deployments/opmainnet/.chainId
  deployments/opmainnet/DefaultProxyAdmin.json
  deployments/opmainnet/XVS.json
  deployments/opmainnet/XVSBridgeAdmin.json
  deployments/opmainnet/XVSBridgeAdmin_Implementation.json
  deployments/opmainnet/XVSBridgeAdmin_Proxy.json
  deployments/opmainnet/XVSProxyOFTDest.json
  deployments/opmainnet/solcInputs/9149d37850858a78d8b85e74099f9206.json
  deployments/opmainnet_addresses.json
  helpers/deploymentConfig.ts
  yarn.lock
Labels: OP mainnet
